<div class="container-sessions">
  <div class="group-action-from">
    <div class="group-content">
      <p>Não tem uma conta? Cadastre-se agora.</p>
      <!-- Group Links Navigation -->
      <div class="group-navigation-link">
         <!-- Log-in -->
        <div class="log-in">
         <%= render 'pages/auth/links/link_logIn' %>
        </div>
        <!-- Sing-up -->
        <div class="sign-up">
         <%= render 'pages/auth/links/link_signUp' %>
        </div>
      </div>
      <!-- Form -->
      <%= render 'pages/auth/registrations/form' %>
    </div>
    <!-- Form -->
    <div>
      <%= image_tag "logIn.png", alt: "Log In", class: "example-class" %>
    </div>
  </div>
</div>
