<div class="container-sessions">
  <p>Already have an account? Connect.</p>



  <div class="group-action-from">
    <div class="group-content">
      <div class="group-navigation-link">
        <div class="log-in">
         <%= render 'pages/auth/links/link_logIn' %>
        </div>
        <div class="sign-up">
         <%= render 'pages/auth/links/link_signUp' %>
        </div>
      </div>
      <%= render 'pages/auth/registrations/form' %>
    </div>

    <div>
      <%= image_tag "logIn.png", alt: "Log In", class: "example-class" %>
    </div>
  </div>
</div>
