.container-header-imob {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: auto 1fr auto;
  column-gap: 23px;

  // Navigation
  & .container-navigation-imob {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 23px;
  }

  // group-actions
  & .group-actions {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    align-content: center;
    column-gap: 14px;
  }
}
