.container-header-imob {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: auto 1fr auto;
  column-gap: 23px;

  // group-actions
  & .group-actions {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    align-content: center;
    column-gap: 14px;
  }
}

/* Estilos para a navegação */
.container-navigation-imob {
  padding: 10px;
}

.container-navigation-imob ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.container-navigation-imob ul li {
  position: relative;
}
