.conatiner-menu {
  cursor: pointer;
  background-color: var(--colorGray-950);
  position: absolute;
  border-radius: 50px;
  bottom: 30px;
  left: 15px;

  &:hover {
    background-color: var(--colorGray-800);
  }

  // Container navbar
  & .navbar {
    display: grid;
    height: max-content;
    background-color: transparent !important;
    padding: 10px;
    border-radius: 50px;
    position: relative;
    z-index: 1001;
  }

  // Main button
  & button {
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: auto auto;
    background-color: var(--colorGray-950);
    color: var(--colorWhite);
    column-gap: 8px;
    padding: 3px 12px;

    &:hover {
      background-color: var(--colorGray-800);
    }

    // Icon
    & i {
      font-size: 1.3rem;
      color: var(--colorWhite);
    }

    // Span
    & span {
      font-size: 18px;
      font-weight: 500;
    }
  }

  & .group-menu {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}

/* Navbar */
.navbar {
  display: grid;
  height: max-content;
  background-color: var(--colorWhite);
  padding: 10px;
  border-radius: 50px;
  position: relative;
  z-index: 1001;
  /* Garante que a navbar esteja acima do fundo transparente */

  & i {
    color: var(--colorGray-600);
  }


  /* Botão do menu */
  .menu-toggle {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: left;
  }

  /* Menu branco com links */
  .menu {
    display: none;
    /* Oculta por padrão */
    list-style: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1002;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    & .group-menu {
      background-color: var(--colorWhite);
      width: 400px;
      padding: 15px;

      // Button Close
      & .menu-close {
        border: none;
        display: grid;
        justify-content: flex-start;
        justify-items: flex-start;
        background-color: transparent !important;

        i {
          width: max-content;
          height: max-content;
          color: var(--colorGray-500);
          border: 1px solid var(--colorGray-300);
          transition: var(--transition);
          border-radius: 50px;
          font-size: 1rem;
          padding: 10px;

          &:hover {
            background-color: var(--colorGray-100);
            color: var(--colorGray-950);
          }
        }
      }
    }

    // Components nav_bar
    .navigation-container {
      display: grid;
      align-items: center;
      align-content: center;

      & .navigation {
        display: grid;


        & ul {
          display: grid;

          & li {
            display: grid;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            grid-template-columns: 1fr;
            row-gap: 3px;
          }

        }
      }
    }
  }

  /* Quando o menu está aberto */
  .menu.visible {
    display: grid;
    justify-content: flex-start;
  }

  /* Botão de fechar */
  .menu-close {
    text-align: right;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    margin-bottom: 10px;
  }

}
