<div class="container-header-imob">
  <!-- logo -->
  <div>
   <h1>LeveCasa</h1>
  </div>
  <!-- navigation -->
  <div class="group-navigation">
    <%= render 'layouts/imob/admin/navigation' %>
  </div>
  <!-- actions -->
  <div>
   Settings
  </div>
<div>
