<div class="container-header-imob">
  <!-- logo -->
  <div class="group-logo">
   <%= render 'shared/icons/levecasa' %>
  </div>
  <!-- navigation -->
  <div class="group-navigation">
    <%= render 'layouts/imob/admin/navigation' %>
  </div>
  <!-- actions -->
  <div class="group-actions">
   <%= render 'shared/icons/bell' %>
   <%= render 'shared/icons/settings' %>
  </div>
<div>
