<div class="container-navigation-imob">
  <!-- Links Property -->
  <!-- Container do dropdown -->
  <div class="dropdown-container" data-controller="dropdown">
    <!-- Main button -->
    <button class="dropdown-toggle" data-action="click->dropdown#toggle">Imóveis</button>
    <ul class="dropdown-menu hidden" data-dropdown-target="menu">
        <%= render(Navigation::NavBarComponent.new) do |component| %>
          <% component.with_links([
            { name: "Portal", href: root_path, icon: "", class_name: "link-compar" },
            { name: "Campo 2", href: root_path, icon: "", class_name: "link-compar" },
            { name: "Campo 3", href: root_path, icon: "", class_name: "link-compar" },
          ]) %>
        <% end %>
    </ul>
  </div>
    <!-- Links Contatos -->
    <!-- Container do dropdown -->
  <div class="dropdown-container" data-controller="dropdown">
  <!-- Main button -->
    <button class="dropdown-toggle" data-action="click->dropdown#toggle">Contatos</button>
    <ul class="dropdown-menu hidden" data-dropdown-target="menu">
        <%= render(Navigation::NavBarComponent.new) do |component| %>
          <% component.with_links([
            { name: "Portal", href: root_path, icon: "", class_name: "link-compar" },
            { name: "Campo 2", href: root_path, icon: "", class_name: "link-compar" },
            { name: "Campo 3", href: root_path, icon: "", class_name: "link-compar" },
          ]) %>
        <% end %>
    </ul>
  </div>
</div>
