<div class="container-sessions">
  <p>Already have an account? Connect.</p>

  <div class="group-navigation">
  </div>

  <div class="group-action-from">
    <div>
      <%= render 'pages/auth/sessions/form' %>
    </div>
    <div>
      Foto
    </div>
  </div>

</div>
