<div class="group-sessions">
  <!-- group form actions -->
  <div class="group-content">
    <!-- content actions -->
    <div class="content-actions">
      <!-- log-in -->
      <div class="log-in">
        <%= render 'pages/auth/links/link_logIn' %>
      </div>
      <!-- sign-up -->
      <div class="sign-up">
        <%= render 'pages/auth/links/link_signUp' %>
      </div>
    </div>
    <!-- content form -->
    <div class="content-form">
      <%= render 'pages/auth/sessions/form' %>
    </div>
  </div>

  <!-- group image -->
  <div class="group-image">
    <%= image_tag "logIn.png", alt: "Log-In", class: "example-class" %>
  </div>
</div>
