<div class="group-sessions">
  <!-- group form actions -->
  <div class="group-content">
    <!-- content actions -->
    <div class="content-actions">
      <h1>Actions</h1>
    </div>
    <!-- content form -->
    <div class="content-form">
     <h1>form</h1>
    </div>
  </div>

  <!-- group image -->
  <div class="group-image">
    <%= image_tag "logIn.png", alt: "Log-In", class: "example-class" %>
  </div>
</div>
