.group-passwords {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;
  height: 100%;

  /* group form actions */
  & .group-content {
    display: grid;
    max-width: 450px;
    height: max-content;
    row-gap: 23px;
    order: 1;

    /* content form */
    & .content-form {
      display: grid;
      height: max-content;
    }
  }

  /* group image */
  & .group-image {
    background-image: image-url('reset_password.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    /* Largura total */
    aspect-ratio: 16 / 9;
    /* Ajusta a imagem ao container sem cortá-la */
    order: 0;


  }
}

/* media query */
@media (max-width: 764px) {
  .group-passwords {
    display: grid;
    grid-template-columns: 1fr;

    /* group form actions */
    & .group-content {
      display: grid;
      max-width: inherit;
      order: 1;

      /* content actions */
      & .content-actions {
        display: grid;
      }

      /* content form */
      & .content-form {
        display: grid;
      }
    }

    /* group image */
    & .group-image {
      order: 0;
    }
  }
}
