.group-sessions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;

  /* group form actions */
  & .group-content {
    display: grid;
    height: max-content;

    order: 0;

    /* content actions */
    & .content-actions {
      display: grid;
      height: max-content;
    }

    /* content form */
    & .content-form {
      display: grid;
      height: max-content;
    }
  }

  /* group image */
  & .group-image {
    display: grid;
    height: max-content;

    order: 1;
  }
}

/* media query */
@media (max-width: 1024px) {
  .group-sessions {

    /* group form actions */
    & .group-content {
      order: 1;

      /* content actions */
      & .content-actions {
        display: grid;
      }

      /* content form */
      & .content-form {
        display: grid;
      }
    }

    /* group image */
    & .group-image {
      order: 0;
    }
  }
}
