.group-form-auth {
  max-width: 100%;
  padding-bottom: 30px;
  height: max-content;
  /* Grid */
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: 1fr;

  & form {
    max-width: 100%;
    width: 100%;
    min-width: 250px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    /* Grid */
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 14px;
    order: 0;
  }

  & .groud-input {
    height: max-content;
    flex: 1 1 calc(100% - 16px);
    /* Grid */
    display: grid;
    row-gap: 18px;
  }

  & .group-link-password-reset {
    flex: 1 1 calc(100% - 16px);
    padding: 10px 0;
    /* Grid */
    display: grid;
    justify-self: end;
    justify-items: end;
    justify-content: end;

    & a {
      font-size: 16px;
      font-weight: 500;
      color: var(--colorGray-600);
      transition: var(--transition);

      &:hover {
        color: var(--colorGray-950);
      }
    }
  }
}
