<div class="container-overview-imob">
  <div>
    <h1>Lista de Usuários</h1>
  </div>
  <div class="group-actions">
    <button class="bnt-filter">
      <%= render 'shared/icons/filter' %>
      Filter
    </button>
  </div>
</div>
