/* Container do dropdown */
.dropdown-container {
  position: relative;
  display: inline-block;
}

/* Botão principal */
.dropdown-toggle {
  border: none;
  cursor: pointer;
  width: max-content;
  height: max-content;
  color: var(--colorGray-950);
  background-color: transparent !important;
  font-weight: 600;
  font-size: 18px;
}

/* Menu suspenso */
.dropdown-menu {
  position: absolute;
  top: -8px;
  /* Posiciona abaixo do botão */
  left: 0;
  transform: translateY(-20px);
  /* Move para fora da tela */
  opacity: 0;
  /* Invisível por padrão */
  visibility: hidden;
  /* Não pode ser clicado */
  background-color: var(--colorWhite);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  list-style: none;
  padding: 10px;
  width: max-content;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: grid;
  row-gap: 12px;

  & p {
    font-size: 18px;
    font-weight: 600;
  }
}


/* Estado visível do menu */
.dropdown-container:hover .dropdown-menu,
.dropdown-container .dropdown-menu.visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  /* Move para a posição visível */
}
