/* Container da tabela */
.table-container {
  overflow-x: auto;
  border: 1px solid;
  border-color: var(--colorGray-300);
  background-color: var(--colorWhite);
  border-radius: 10px;
  margin: 1rem 0;
  padding: 10px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.custom-table th {
  padding: 8px;
  font-weight: 600;
  font-size: 12px;
  text-align: left;
  color: var(--colorGray-400);
  background-color: var(--colorGray-50);
}

.custom-table td {
  text-align: left;
  padding: 14px 10px;
  color: var(--colorGray-950);
  font-size: 16px;
  font-weight: 500;
}

.custom-table tr:not(:last-child) {
  border-bottom: 1px solid var(--colorGray-300);
}

.custom-table tr:last-child {
  border-bottom: none;
}

/* Coluna de ações */
.action-column {
  text-align: center;
  display: grid;
  justify-self: end;
  justify-items: end;
  justify-content: end;
}
