<div class="group-form-auth">
  <!-- Form -->
  <%= form_with url: pages_auth_enviar_instrucoes_path, method: :post, local: true, class: "login-form" do |form| %>
  <div class="input-wrapper">
    <%= form.email_field :email, placeholder: "Email Address", class: "form-control" %>
  </div>
  <!-- Button Submit -->
  <div class="form-actions">
    <%= form.submit "Login", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>