<div class="container-sessions">
  <div class="group-action-from">
    <div class="group-content"> 
      <p>Already have an account? Connect.</p>
      <!-- Form -->
      <%= render 'pages/auth/passwords/form_reset' %>
    </div>
    <!-- Image -->
    <div>
      <%= image_tag "logIn.png", alt: "Log In", class: "example-class" %>
    </div>
  </div>
</div>
