// Components
@import "components/navigation/website";

//layouts
@import "layouts/website/export";
@import "layouts/auth/export";
@import "layouts/imob/admin/export";

// Constants
@import "constants/export";

// Auth
@import "pages/auth/export";

// shared
@import "shared/export";


/* Navbar */
.navbar {
  display: grid;
  height: max-content;
  background-color: var(--colorWhite);
  padding: 10px;
  border-radius: 50px;
  position: relative;
  z-index: 1001;
  /* Garante que a navbar esteja acima do fundo transparente */

  & i {
    color: var(--colorGray-600);
  }
}

/* Botão do menu */
.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  text-align: left;
}

/* Menu branco com links */
.menu {
  display: none;
  /* Oculta por padrão */
  list-style: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1002;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

/* Quando o menu está aberto */
.menu.visible {
  display: grid;
  justify-content: flex-end;
}

.menu ul {
  background-color: aqua;
  width: 400px;
}

/* Links do menu */

.menu li {
  display: grid;
  padding: 10px;
  text-align: center;
  /* Centraliza o texto */
  background-color: var(--colorWhite);
  /* Linha separadora */
}

.menu li:last-child {
  border-bottom: none;
  /* Remove a linha do último item */
}

.menu li a {
  color: #333;
  /* Cor do texto */
  text-decoration: none;
  font-size: 16px;
}

.menu li a:hover {
  text-decoration: underline;
}

/* Botão de fechar */
.menu-close {
  text-align: right;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  margin-bottom: 10px;
}
