<div class="group-header-website">
  <div class="action-logo">
    <li><%= link_to "LeveCasa", "/" %></li>
  </div>

  <div>
   <%= render 'layouts/website/navigation' %>
  </div>

  <div class="action-login">
    <%= render 'pages/auth/links/link_login' %>
  </div>
</div>
