<div class="group-header-website">
  <div class="action-logo">
    <%= link_to root_path do %>
    <%= render "shared/logoPri" %>
    <% end %>
  </div>

  <div>
    <%#= render 'layouts/website/navigation' %>
  </div>

  <div class="action-login">
    <%= render 'pages/auth/links/link_logIn' %>
  </div>
</div>